/* TABLET DEVICE STYLES */
@media screen and (min-width: 481px) {
	/* HEADER SECTION */
	header {
		margin-right: 35px;
		max-width: 100%;
		height: auto;
	}

	.logo {
		width: 100px;
	}

    /* FEATURED WORK SECTION */
	.featured {
		max-width: 100%;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	.fresh {
	height: auto;
	max-width: 100%;
	}

	.tixie {
	height: auto;
	max-width: 100%;
	}

	.chew {
	height: auto;
	width: 100%;
	}

	.work {
		margin-bottom: 40px;
	}

    /* FOOTER SECTION */
    footer {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        max-height: 10%;
    }

	.colors {
	max-width: 33%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: right;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-top: 10px;
	}

	.colors div.A {
		margin-top: 10px;
	}

}